<article class="col-lg-offset-1">
<div class="content page">
    <h2>
      Propose a challenge for Philly GLAM Hack
    </h2>
  </a>

  <div class="col-lg-6" >
    <p>We are seeking proposals of Data Challenges for teams to work on during the hackathon.
    Challenges can be as simple as a dataset and a vague idea of what could be done with that
    data, or could be an already identified problem with your data that you are seeking help to solve.</p>
    <p>
    The only requirements for proposing a challenge are:
    <ul>
      <li>Someone from your organization commits to participating in the event. They will help
      steward teams who take up that challenge by giving context to your data.</li>
      <li>If your challenge includes a dataset, the dataset for your challenge should be made available for use and reuse. Providing your data openly means that anyone can build applications with your data even after the hackathon is over.</li>
    </ul>

    <h3><a href="http://bit.ly/1bp5xpV" title="Submit a Challenge Now">Submit a Challenge Now</a></h3>
    <p>
    If you’re not sure how your organization's data could be used or just want some help brainstorming a
    challenge, just <a href="#contact" title="Contact Details">get in touch</a>, we're happy to help.</p>
    <p>
    You can also submit your dataset without proposing a challenge. We'll highlight your dataset on
    our website for attendees consideration.</p>

  </div>
</div>
</article>
