      <div class="section container">
      	<h2>Resources and Data</h2>
      	
      	  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Submit new dataset</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Submit new dataset</h4>
        </div>
        <div class="modal-body">
          	<iframe src="https://docs.google.com/forms/d/1UN8wT9O4OhoWHNBuXdB8-3s4JTErR8p4SXyt_4CLMWs/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
      	
         	    <p>
      	    	<ul>
      	    		<li><a href="http://www.opendataphilly.org/opendata/tag/1/?sort=rating_score">Open Data Philly Arts/Culture/History</a></li>
      	    		<li><a href="http://dp.la/info/developers/codex/">Digital Public Library of America API</a></li>
      	    	</ul>
      	    </p>
	  </div>