    <article>
<div class="jumbotron">
  <div class="container">
    <h1>GLAM Hack Philly</h1>
    <p>A Hackathon for Galleries, Libaries, Archives, &amp; Museums</p>
    <p>February 1-2, 2014</p>
    
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>What is it?</h2>
      <p>A hackathon where small teams build cool apps with data from Cultural Heritage organizations. </p>
      </div>
      <p><a class="btn btn-default" href="#about">More details &raquo;</a></p>
      
    </div>
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>Where is it?</h2>
      <p>
      <address>
        Kislak Center for Special Collections<br />
        Van Pelt-Dietrich Library Center, 6th floor<br/>
        University of Pennsylvania<br />
        3420 Walnut Street, Philadelphia, PA 19104
      </address>
      </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>But I'm not a coder...</h2>
      <p>All kinds of skills are required to build a successful hackathon project. If you are enthusiastic about Cultural Heritage or <a href="http://twitter.com/search?q=%23openGLAM">#openGLAM</a>, we want you here. </p>
      </div>
      <p><a class="btn btn-default" href="#who">Why you should come &raquo;</a></p>
    </div>
  </div>
</div>
</article>
