<div class="jumbotron">
  <div class="container">
    <h1>GLAM Hack Philly</h1>
    <p>A Hackathon for Galleries, Libaries, Archives, &amp; Museums Data</p>
    <p>November 9th</p>
    <p><a class="btn btn-primary btn-lg" href="http://glamhack.eventbrite.com">Register for free</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>What is it?</h2>
      <p>A hackathon focused on building apps with data from Galleries, Libraries, Archives &amp; Museums. </p>
      </div>
      <p><a class="btn btn-default" href="#what">More details &raquo;</a></p>
      
    </div>
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>Where is it?</h2>
      <p>
      <address>
        Special Collections Center<br />
        Van Pelt-Dietrich Library Center, 6th floor<br/>
        3420 Walnut Street, Philadelphia, PA 19104
      </address>
      </p>
      </div>
      <p><a class="btn btn-default" href="#where&when">On a Map &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <div class="fp-text">
      <h2>But I'm not a coder?</h2>
      <p>All kinds of skills are required to build a successful hackathon project. If you are enthusiastic, we want you here. </p>
      </div>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
