      <div class="section container">
      	<h2>What is GLAM Hack Philly?</h2>
      	<p>
      		It's hackathon focused on using open data from Galleries, Libaries, Archives and Museums (GLAM). It is an attempt bring together 
      		programmers, curators, librarians, designers, archivists and anyone else with a passion for GLAM institutions
      		to build fun and interesting apps on top of the tremendous amount of GLAM data that is openly and freely available.
      	</p>
      	
      </div>