      <div class="section container">
      	<h2>What is GLAM Hack Philly?</h2>
      	<p>
      		The event will bring together programmers, curators, librarians, designers, archivists and 
      		anyone else with a passion for GLAM data to build fun and interesting apps with the 
      		tremendous amount of GLAM data that is openly and freely available. 
      	</p>
      	<p>
      		On the morning of Saturday, November 9th, participants can pitch ideas for projects related to a specific data set or for 
      		broader GLAM-related applications. This could be anything from creating Omeka plug-ins to building a virtual city tour 
      		app using local digital collections. Small groups will form and participants will begin working on their projects 
      		through Sunday, with a goal to present a working prototype by Sunday afternoon. 

      	</p>
      	<p>
      		GLAM Hack Philly will also be a <a href="http://en.wikipedia.org/wiki/Wikipedia:Wikipedia_Loves_Libraries">Wikipedia Loves Libraries</a> event.
      	</p>
      </div>
