      <div class="section container">
      	<h2>Where &amp; When?</h2>
      	<p>
      		<dl>
      			<dt>When</dt>
      			<dd>November 9th from 8:30AM - 6:30PM. Full schedule to follow.</dd>
      		    <dt>Where</dt>
      		    <dd>
      		    	<address>
      			The Kislak Center for Special Collections, Rare Books and Manuscripts<br />
      			Van Pelt-Dietrich Library Center, 6th floor <br />
                3420 Walnut Street, Philadelphia, PA 19104 <br />
      		</address>
      		    </dd>
      		</dl>
      		<div id="map">
      			
      		</div>
      		
      	</p>
	  </div>