<article class="col-lg-offset-1">
<div class="content page">
  <a name="who"></a>
  <a href="#who">
    <h2>
      Who should come to Philly GLAM HACK?
    </h2>
  </a>

  <div class="col-lg-6">
    <p>
    Anyone who is interested in seeing of Galleries, Libraries, Museums and Archives do intersting and innovative things with their colections and data. If you have ever had an idea for a better way a museum could have displayed its collections, or how a library could recommend other books in its collections, then you shoud come because this the hackathon is aplace to make those ideas heard and maybe even turn them into something real.</p>

    <h3>But I don't write code?</h3>
    <p>Hackathons are for everyone. The input of content specialists like museum curators, librarians, archivists, catalogers, researchers, patrons and anyone who knows the data produced by GLAM organizations is crucial to
    creating successful projects. Hackathon apps need code, but they also need ideas.
    </p>
  </div>
</div>
</article>
