      <div class="section container col-md-8">
      	<h2>Do I have to be a programmer?</h2>
      	<small class="text-muted">
      		Sentiments brazenly lifted from <a href"http://hackforwesternmass.org/have-to-be-a-programmer">Hack for Western Mass</a>
      	</small>
      	<p>
         Everyone has a part to play at GLAM Hack Philly. Programmers are certianly important for hackathons, but <i>designers</i>, <i>project     		 managers</i>, <i>content specialists</i> and many other types of people are also vital to creating useful and interesting apps.   
      	    <ul>
      	    	<li>If you know even a little about know about GLAM data, you will be invaluable when every is scrathing their head at MARC or OAI.</li>
      	    	<li>If you are good and wrangling people and keeping things on track, every project needs some like you</li>
      	    </ul>
      	</p>
      	
      	   
      	</p>
     
	  </div>